* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background color, text color, font, and min height*/
body {
    background-color: rgb(155, 232, 242);
    color: white;
    font-family: "Delicious Handrawn", normal;
    min-height: 100vh;
}

/* font size of "to do list app" */
header {
    font-size: 2rem;
}

header, 

form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    /* where the input of the to do list items are: sizing and color  and position of that text box, also adds the text box radius to make it an oval*/
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

form button {
    /* color of the button and the background */
    color: rgb(255, 0, 200);
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover {
    /* color of the button and the background when your cursur is hovering over it */
    color: white;
    background: rgb(255, 0, 200);
}

.fa-plus-circle {
    /* creates the border of the add button to be a circle */
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    /* the color of the check and trash buttons are white and sets the sizes (same size) and aligned */
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

/* button for each to do list item once it is submitted, you can click when its done*/
.complete-btn {
    background: rgb(255, 0, 200);
}

.trash-btn {
    /* trash button*/ 
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(171, 171, 171);
}

.todo-item {
    /* area between todo list items */ 
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    /* adds a line and the list item is at 50% opacity to any completed todo list items  */
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    /* slowly transforms the 100% to 50% opacity to any completed todo list items  */
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    /* text of the all, completed, incomplete */
    color:rgb(255, 0, 200);
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background:rgb(255, 0, 200);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::hover::after {
    background: white;
    color: rgb(255, 0, 200);
}