/* Customize the label (the container) */
body {
    background: #42bae2;
    }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
title_text {
  text-align: center;
  font-family: 'Candal', sans-serif;
  padding: 16px;
  font-size: 4em;
  color: white;
}

th, td {
  text-align: center;
  font-family: 'Candal', sans-serif;
  padding: 16px;
  color: white;
}

th_day {
font-size: 2em;
color: white;

}

th_time {
font-size: 0.8em;
color: rgba(255, 255, 255, 0.698);

}

tr:nth-child(even) {
  background-color: #42bae2e3;
}
.container {
    display: center;
    position: relative;
    padding-left: 35px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .todo-container {
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 900px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }